:root{
   --rosaLogo: #F27999;
   --azulLogo: #96CCD9;
   --fonte: "kalam",cursive;

}

.cabecalho-direita{
    color: var(--rosaLogo);
}

.cabecalho-esquerda{
    color: var(--azulLogo);
}

body{
    background-color: #ebebeb;
}

#inicio{
    height: 102vh;
    margin-bottom: 0rem;
    background: url(../images/FundoCapa.png) left top no-repeat;
    overflow: hidden; 
}

.apresentacao{
    margin-top: 90px;
    padding: 0px 16rem;
}

.imagem-capa{
    padding-top: 55px;
}

.sobre{
    margin-top: 20px;
    height: 100vh;
}

.sobre_txt{ 
    font-family: var(--fonte);
    list-style-type: none;
    align-items: center;
    margin: 4px 100px;
    padding-left: 6px;
    font-size: 25px;
    color: var(--azulLogo);
}


.fundo-sobre{
    width: 65%;
    height: 450px;
    padding: 20px 20px 3px;
    margin:0 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--rosaLogo);
    border-radius: 0 10px 10px 0;
}

#fundo-experiencia{
    width: 98.4%;
    height: 350px;
    padding-left: 4px;
    margin:30px 10px;
    background-color: rgb(255, 255, 255);
}

.fundoImagem{
    width: 450px; 
    height: 450px; 
    border: 2px solid var(--rosaLogo);
    border-radius: 10px; 
    position: relative; 
    overflow: hidden; 
}

#imgSobre{
    position: absolute;
    width: 450px; 
    height: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
}

.servicos{
    height: 1000px;
}

.imagem_servico{
    width: 70px; height: 70px;
}


.card{
    width: 22rem; 
    margin: 20px 42px;
}




.titulo {
    font-family: var(--fonte);
    font-size: 40px;
    color: #296dff;
}

.content{
    width: 100%;
    margin: 0 auto;
}

.accordion_item{
    font-family: var(--fonte-nome);
    font-weight: 500;
    margin: 6px;
    border-radius: 5px;
    border: solid 2px black;

}

.accordion_item:hover{
    opacity: 0.9;
}

.accordion_header{
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.accordion_content{
    overflow: hidden;
    height: 0;
    transition: all .5s ease;
}

.actve{
    padding-bottom:10px;
}

span, .icon{
    font-weight: 600;
    color: var(--roxo);
}

.selecionado{
    color: var(--roxo);
    border-bottom: 2px solid var(--roxo);
    border-radius: 0;
}

.titulo__duvida{
    font-family: var(--fonte-nome);
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
   
}

.paragrafo__projeto{
    font-size: 18px;
    font-family: var(--fonte-nome);
    font-weight: 500; font-weight: 500;
    margin: 0 1em;
}

#duvidas{
    height: 100vh;
}


@media screen and (max-width: 1440px) {
    .apresentacao{
        margin-top: -4px;
        padding: 0px 8rem;
    }

    .sobre{
        height: 120vh;
    }

    .fundo-sobre{
        width: 64%;
        padding: 0px;
        margin:0 10px;
        background-color: rgb(255, 255, 255);
    }

    .sobre_txt{ 
        align-items: center;
        margin: 0px 110px;
        padding-top: 4;
        padding-left: 50px;
        font-size: 25px;
        color: #129cf8;
    }

    .teste1{
        margin-top: 30px;
    }
    
    
}


@media screen and (max-width: 1024px) {
    .duvidas{
        width: 127%;
    }

    .content{
        width: 100%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 768px) {
    #inicio{
        height: 102vh;
        margin-bottom: 0rem;
        background: none;
        background-color: rgb(255, 255, 255);
        overflow: hidden; 
    }
   
    .apresentacao{
        margin-top: 120px;
        padding: 0px 3.5rem;
    }

    .fundoImagem{
        width: 350px; 
        height: 350px; 
        border: 2px solid #129cf8;
        border-radius: 2px; 
        position: relative; 
        overflow: hidden; 
    }
    
    #imgSobre{
        position: absolute;
        width: 350px; 
        height: 100%; 
        left: 50%; 
        transform: translateX(-50%); 
    }

    .sobre{
        height: 240vh;
    }
    
    .fundo-sobre{
        width: 100%;
        padding:10px 60px;
        margin:20px 10px;
        background-color: rgb(255, 255, 255);
    }
    

  

    .sobre_txt{ 
        font-family: var(--fonte-nome);
        list-style-type: none;
        align-items: center;
        margin: 4px 0px;
        padding-left: 0px;
        font-size: 25px;
        color: #129cf8;
    }
    

    .duvidas{
        width: 125%;
        overflow: scroll;
    }

    .servicos{
        height: 1900px;
    }

    .content{
        width: 100%;
        margin: 0px auto;
    }

    .accordion_itens{
        display: flex;
        flex-direction: column;
    }
    .item_projeto{
        font-size: 25px;
    }

    .card{
        width: 20rem; 
        margin: 20px auto;
    }
}